html{
    font-family: Poppins, sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header img{
    width: 100%;
    height: auto;
}

.nav_links{
    display: flex;
    flex-direction: column;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 0;
}

.card{
    width: 100%;
}

.gallery img{
    width: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#logo{
    /*The logo image in the header fades in over 3 seconds*/
    animation: fadeIn 3s;
}

@media (min-width: 700px){

    header{
        justify-content: space-between;
        align-items: center;
        height: auto;
    }
    
    header img{
        width: 400px;
    }

    .nav_links{
        flex-direction: row;
    }
    
    .card{
        width: 300px;
        flex-direction: row;
    }

    .gallery img{
        width: 300px;
        flex-direction: row;
    }
}



@media (prefers-reduced-motion: reduce){
    #logo {
        animation: none;
    }
}